.navigasi{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-web{
    display: flex;
    padding: 0px 18px;
}

.logo-web img{
    height: 67px;
    border-radius: 50%;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 0px 8px;
}

.profile img{
    height: 270px;
}

.fasilitas{
    display: flex;
    justify-content: space-around;
}

.fasilitas img{
    height: 170px;
    border-radius: 50%;
}
